
body{
margin: 0;
padding: 0;
box-sizing: border-box;
background: linear-gradient(to right, #00C1FE, #FAFFC1  )  !important;
background-size: cover;
background-repeat: no-repeat;
}

.from-container{
   
    background: rgb(255, 254, 254);
    margin-top: 40%;
    padding: 30px;
    border-radius: 10PX;
    box-shadow: 0px 0px 0px 0px #000;
}
H1{
    border-left: solid 3px #00C1FE;
}


